header ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: aqua;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}

header ul li {
    background-color: black;
}