:root {
    --fundo: #222831;
    --contraste: #393E46;
    --destaque: #00ADB5;
    --cor_texto: #EEEEEE;
    --texto: "Asap", sans-serif;
    --titulo: "Lilita One", sans-serif;
    --titulo2: "Inter", sans-serif;
    --margem: 100px;
}

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: var(--fundo);
    box-shadow: inset 1px 1px 3px var(--contraste);
}

::-webkit-scrollbar-thumb {
    background-color: var(--contraste);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--destaque);
}

body {
    color: var(--cor_texto);
    background-color: var(--fundo);
}

header {
    box-shadow: inset 0 -4px 20px var(--contraste);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--margem);
    padding: 30px 0;
    text-transform: uppercase;
    font-family: var(--titulo);
}

header nav h1 {
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--destaque);
    text-shadow: 1px 5px 4px var(--contraste);
}

header nav ul {
    display: flex;
    gap: 15px;
}

header nav ul li {
    width: 80px;
    display: flex;
}

header nav ul li a {
    width: 100%;
    line-height: 180%;
    border: solid 2px var(--destaque);
    border-radius: 10px;
    color: var(--destaque);
    font-size: 1.1rem;
    text-align: center;
    transition: 0.2s;
}

header nav ul li:hover a {
    background-color: var(--destaque);
    color: var(--fundo);
    transform: scale(1.13);
}

main .intro {
    display: flex;
    background-color: var(--contraste);
    box-shadow: 0px 15px 30px var(--contraste);
}

main .intro div {
    margin-top: 60px;
    margin-left: var(--margem);
}

main .intro div h1 {
    font-size: 4.72rem;
    font-family: var(--titulo2);
    font-weight: 300;
    margin-bottom: 50px;
}

main .intro div h1 strong {
    font-family: var(--titulo);
    letter-spacing: 2px;
    font-weight: 200;

    background: linear-gradient(to right, #00ADB5, #71C9CE, #E3FDFD);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .intro div p {
    font-size: 1.6rem;
    font-family: var(--texto);
}

main .Secao {
    margin: 130px var(--margem);
}

main .Secao h1 {
    font-size: 2.5rem;
    font-family: var(--titulo2);
    font-weight: 800;
    color: var(--destaque);
    margin: 0 0 20px 9px;
    text-shadow: 1px 5px 4px var(--contraste);
}

main .Secao a img {
    width: 32.57%;
    transform: scale(0.95);
    border-radius: 20px;
    border: solid 3px var(--contraste);
    opacity: 0.6;
    transition: 0.2s;
}

main .Secao a:hover img {
    opacity: 1;
    transform: scale(1);
    border: solid 3px var(--destaque);
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}
